
.about-section h2{
    font-family: "Syne", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    margin : 0px;
    color : #00000056;
}
.about-section h2 img{
    width : 50px;
    height  : 50px;
    object-fit: contain;
}
.about-section  p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 0%;
    max-width : 80%;
    width : 100%;
}
.about-section .image_wrapper{
    text-align: center;
    padding : 50px 0;
    width : 90%;
    margin : 0 auto;
}
.about-section .image_wrapper img{
    width : 100%;
    object-fit: contain;
}



/* .about-title {
  background: linear-gradient(to right, #000000, #000000);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  background-position: -100% center;
  transition: background-position 1.5s ease, opacity 0.5s ease;
} */

@media(max-width : 1600px){
   .about-section h2 {
        font-size: 54px;
    }
    .about-section p {
        font-size: 20px;
        line-height: 30px;
    }
}


@media(max-width : 1024px){
    .about-section h2 {
        font-size: 44px;
        max-width: 800px;
    }
    .subheading {
        font-size: 24px;
        padding: 10px 0;
    }
    .about-section p {
        font-size: 20px;
        line-height: 30px;
    }
}

@media(max-width : 768px){
    .about-section h2 img {
        width: 35px;
        height: 35px;
        object-fit: contain;
    }
    .about-section h2 {
        font-size: 36px;
    }
    .about-section p {
        font-size: 18px;
        line-height: 25px;
        max-width: 100%;
    }
}

@media(max-width : 575px){
    .about-section{
        padding : 0px !important
    }
    .about-section .image_wrapper {
        text-align: center;
        padding: 20px 0;
        width: 100%;
        margin: 0 auto;
    }
}