.cursor-follower {
  position: fixed;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, border 0.3s ease;
  z-index: 9999;
  background-color: #000000;
}


@media(max-width : 768px){
  .cursor-follower{
    display : none;
  }
}